<main>
    <section id="deatils-page">
        <div class="wrapper">
            <div class="product-img">
                <img src="{{homeImage}}">
            </div>
            <div class="product-info">
                <div class="product-text">
                    <div class="product-text">
                        <h1>Name: {{name}}</h1>
                        <h2>Type: {{type}}</h2>
                        <h4>Year: {{year}}</h4>
                        <h4>City: {{city}}</h4>
                        <p>Description: {{description}}</p>
        
                        {{#if tenantsNames}}
                        <p>People rented this housing: {{tenantsNames}}</p>
                        {{else}}
                        <p>People rented this housing: There are no tenants yet.</p>
                        {{/if}}
                    </div>
                </div>

                <div class="product-btn">
                    {{#if isOwnHouse}}
                    <a href="/houses/{{_id}}/edit" class="edit">Edit</a>
                    <a href="/houses/{{_id}}/delete" class="remove">Delete</a>
                    {{else if user}}
                    {{#if isRented}}
                    <p class="alRentHome">You have already rent this home</p>
                    {{else if isAvailable}}
                    
                    <a href="/houses/{{_id}}/rent" class="rentHome">Rent a home, available {{availablePieces}}
                        housing</a>
                    {{else}}
                   
                    <p class="no-housing">No Housing Available!</p>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
</main>